
    <div id="all">
      <!-- Top bar-->
      <div class="top-bar">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6 d-md-block d-none">
              <p>BHOW BHOW DOG ADOPTION</p>
            </div>
            <div class="col-md-6">
              <div class="d-flex justify-content-md-end justify-content-between">
                <ul class="list-inline contact-info d-block d-md-none">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
                
                
				<!-- Log Out & Admin -->
                <div class="login">
                <a href="#" data-toggle="modal" data-target="" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Log Out</span></a>             
                 
                 <a href="admin.html" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Admin</span></a> 
                </div>
                <ul class="social-custom list-inline">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top bar end-->
      
      <!-- Navbar Start-->
      <header class="nav-holder make-sticky">
        <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
          <div class="container"><a href="index.html" class="navbar-brand home"><img src="img/logo.png" alt="Universal logo" class="d-none d-md-inline-block"><img src="img/logo.png" alt="Universal logo" class="d-inline-block d-md-none"><span class="sr-only">Universal - go to homepage</span></a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <div id="navigation" class="navbar-collapse collapse">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown"><a href="index.html">Home</a> 
                </li>

                <!-- ========== Find a dog dropdown ==================-->
                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Find a dog <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li class="dropdown-item"><a href="dog-breeds.html" class="nav-link">DOG BREEDS</a></li>
                    <li class="dropdown-item"><a href="dog-quiz.html" class="nav-link">DOG QUIZ</a></li>
                    <li class="dropdown-item"><a href="dog-search.html" class="nav-link">Dog search</a></li>
                  </ul>
                </li>
                <!-- ========== Find a dog dropdown end ==================-->
              
              <!-- ========== Dog Feeding Guide dropdown ==================-->
                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Dog Feeding Guide <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="dog-problems.html" class="nav-link">Dog Problems</a></li>
                    <li class="dropdown-item"><a href="dog-nutririon.html" class="nav-link">Dog Nutrition</a></li>
                  </ul>
                </li>
                <!-- ==========Dog Feeding Guide end ==================-->
                
                
                
                <!-- ========== User&Advertiser dropdown ==================-->
                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">My Account<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<!-- Do check first, if a user/advertiser not log in, show "Log IN", if user/advertiser already log in, show "Logout" -->
                    
                    <li class="dropdown-item dropdown-submenu"><a id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Log In</a>
                      <ul aria-labelledby="navbarDropdownMenuLink1" class="dropdown-menu">
                        <li class="dropdown-item"><a href="user_login.html" class="nav-link">User LogIn</a></li>
                        <li class="dropdown-item"><a href="advertiser_login.html" class="nav-link">Advertiser LogIn</a></li>
                      </ul>
                    </li>
                    
                    <li class="dropdown-item dropdown-submenu"><a id="navbarDropdownMenuLink2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Register</a>
                      <ul aria-labelledby="navbarDropdownMenuLink2" class="dropdown-menu">
                        <li class="dropdown-item"><a href="user_register.html" class="nav-link">User Register</a></li>
                        <li class="dropdown-item"><a href="advertiser_register.html" class="nav-link">Advertiser Register</a></li>
                      </ul>
                    </li>
                    
                    <!-- Do check first, if a user login in, then Show then li of "User Center", 
                    if is advertiser, show "Advertiser Center"-->
                    <li class="dropdown-item"><a href="user_center.html" class="nav-link">User Center</a></li>
                    <li class="dropdown-item"><a href="advertiser_center.html" class="nav-link">Advertiser Center</a></li>
                    
                    
                  </ul>
                </li>
                  
                <!-- ========== Contact  ==================-->
                <li class="nav-item dropdown"><a href="contact.html">Contact</a>
                </li>
                <!-- ========== Contact end ==================-->
                
              </ul>
            </div>
            <div id="search" class="collapse clearfix">
              <form role="search" class="navbar-form">
                <div class="input-group">
                  <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">
                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <!-- Navbar End-->
      
      <div id="content">
        <div class="container">
          <div id="error-page" class="col-md-8 mx-auto text-center">
            <div class="box">
              <p class="text-center"><a href="index.html"><img src="img/logo.png" alt="Obaju template"></a></p>
              <h3>We are sorry - this page is not here anymore</h3>
              <h4 class="text-muted">Error 404 - Page not found</h4>
              <p class="buttons"><a href="index.html" class="btn btn-template-outlined"><i class="fa fa-home"></i> Go to Homepage</a></p>
            </div>
          </div>
        </div>
        <br><br><br><br><br><br><br><br>
      </div>
      
      
      <!-- FOOTER -->
      <footer class="main-footer">
        
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 text-center-md">
                <p>&copy; 2020. BHOW-BHOW</p>
              </div>
              <div class="col-lg-8 text-right text-center-md">
                <p> <a href="https://www.stevens.edu/academics/" target="_blank" title="stevens">Stevens Institute Of Technology</a></p>

              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Javascript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/waypoints/lib/jquery.waypoints.min.js"> </script>
    <script src="vendor/jquery.counterup/jquery.counterup.min.js"> </script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
    <script src="js/front.js"></script>
