
    <div id="all-dog-detail">
      <!-- Top bar-->
      <div class="top-bar">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6 d-md-block d-none">
              <p>BHOW BHOW DOG ADOPTION</p>
            </div>
            <div class="col-md-6">
              <div class="d-flex justify-content-md-end justify-content-between">
                <ul class="list-inline contact-info d-block d-md-none">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
                
                
				<!-- Log Out & Admin -->
                <div class="login">
                <a href="#" data-toggle="modal" data-target="" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">Log Out</span></a>             
                 
                 <a href="admin.html" class="signup-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block">Admin</span></a> 
                </div>
                <ul class="social-custom list-inline">
                  <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top bar end-->
      
      <!-- Navbar Start-->
      <header class="nav-holder make-sticky">
        <div id="navbar" role="navigation" class="navbar navbar-expand-lg">
          <div class="container"><a href="index.html" class="navbar-brand home"><img src="img/logo.png" alt="Universal logo" class="d-none d-md-inline-block"><img src="img/logo.png" alt="Universal logo" class="d-inline-block d-md-none"><span class="sr-only">Universal - go to homepage</span></a>
            <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
            <div id="navigation" class="navbar-collapse collapse">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown"><a href="index.html">Home</a> 
                </li>

                <!-- ========== Find a dog dropdown ==================-->
                <li class="nav-item dropdown active"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Find a dog <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<li class="dropdown-item"><a href="dog-breeds.html" class="nav-link">DOG BREEDS</a></li>
                    <li class="dropdown-item"><a href="dog-quiz.html" class="nav-link">DOG QUIZ</a></li>
                    <li class="dropdown-item"><a href="dog-search.html" class="nav-link">Dog search</a></li>
                  </ul>
                </li>
                <!-- ========== Find a dog dropdown end ==================-->
              
              <!-- ========== Dog Feeding Guide dropdown ==================-->
                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">Dog Feeding Guide <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="dog-problems.html" class="nav-link">Dog Problems</a></li>
                    <li class="dropdown-item"><a href="dog-nutririon.html" class="nav-link">Dog Nutrition</a></li>
                  </ul>
                </li>
                <!-- ==========Dog Feeding Guide end ==================-->
                
                
                
                <!-- ========== User&Advertiser dropdown ==================-->
                <li class="nav-item dropdown"><a href="javascript: void(0)" data-toggle="dropdown" class="dropdown-toggle">My Account<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<!-- Do check first, if a user/advertiser not log in, show "Log IN", if user/advertiser already log in, show "Logout" -->
                    
                    <li class="dropdown-item dropdown-submenu"><a id="navbarDropdownMenuLink1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Log In</a>
                      <ul aria-labelledby="navbarDropdownMenuLink1" class="dropdown-menu">
                        <li class="dropdown-item"><a href="user_login.html" class="nav-link">User LogIn</a></li>
                        <li class="dropdown-item"><a href="advertiser_login.html" class="nav-link">Advertiser LogIn</a></li>
                      </ul>
                    </li> 
                    <li class="dropdown-item dropdown-submenu"><a id="navbarDropdownMenuLink2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Register</a>
                      <ul aria-labelledby="navbarDropdownMenuLink2" class="dropdown-menu">
                        <li class="dropdown-item"><a href="user_register.html" class="nav-link">User Register</a></li>
                        <li class="dropdown-item"><a href="advertiser_register.html" class="nav-link">Advertiser Register</a></li>
                      </ul>
                    </li>
                    
                    <!-- Do check first, if a user login in, then Show then li of "User Center", 
                    if is advertiser, show "Advertiser Center"-->
                    <li class="dropdown-item"><a href="user_center.html" class="nav-link">User Center</a></li>
                    <li class="dropdown-item"><a href="advertiser_center.html" class="nav-link">Advertiser Center</a></li>
                    
                    
                  </ul>
                </li>
                
                
         
                         
                <!-- ==========User&Advertiser end ==================-->
                
                
                
                
                <!-- ========== Contact  ==================-->
                <li class="nav-item dropdown"><a href="contact.html">Contact</a>
                </li>
                <!-- ========== Contact end ==================-->
                
              </ul>
            </div>
            
          </div>
        </div>
      </header>
      <!-- Navbar End-->
      
      <div id="heading-breadcrumbs" class="border-top-0 border-bottom-0">
        <div class="container">
          <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7">
              <h1 class="h2">Dog Detail</h1>
            </div>
            <div class="col-md-5">
              <ul class="breadcrumb d-flex justify-content-end">
                <li class="breadcrumb-item"><a href="">Find a dog</a></li>
                <li class="breadcrumb-item active">Dog Detail</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="container">
          <div class="row bar">
            <!-- LEFT COLUMN _________________________________________________________-->
            <div id="blog-post" class="col-md-9">
              <div id="post-content">
               
                <p><img src="img/r3.jpg" alt="Example blog post alt" class="img-fluid"></p>
                <p class="read-more text-right"><a href="" class="btn btn-template-outlined">Add Favourite</a></p>
                <h2>dog_name</h2>
                <blockquote class="blockquote">
                  
                  <p class="text-sm"><strong>Breed:&nbsp;</strong>show id here</p>
                  <p class="text-sm"><strong>Age:&nbsp;</strong>show age here</p>
                  <p class="text-sm"><strong>Vaccine:&nbsp;</strong>show vaccine here</p>
                  <p class="text-sm"><strong>Postdate:&nbsp;</strong>show postdate here</p>
                  <p class="text-sm"><strong>Color:&nbsp;</strong>show color here</p>
                  <p class="text-sm"><strong>Size:&nbsp;</strong>show size here</p>
                  <p class="text-sm"><strong>Gender:&nbsp;</strong>show gender here</p>
                </blockquote>
                
               
                <h4>Description</h4>
                <p>show description here</p>  
              </div>    
              
              <h4>Address</h4>
                <p>show dog_address here</p>
              <div id="map">
              </div>
              
              
              <div id="comments">
                <h3 class="text-uppercase">comments:</h3><br>
                
                
                <div class="row comment">
                  <div class="col-sm-3 col-md-2 text-center-xs">  
                  </div>
                  <div class="col-sm-9 col-md-10">
                    <h5 class="text-uppercase">comments_user_name</h5>
                    <p>show comment here, like "Cute doggie!"</p>
                    
                  </div>
                </div>
                
                <div class="row comment">
                  <div class="col-sm-3 col-md-2 text-center-xs">  
                  </div>
                  <div class="col-sm-9 col-md-10">
                    <h5 class="text-uppercase">comments_user_name</h5>
                    <p>show comment here, like "Cute doggie!"</p>
                    
                  </div>
                </div>
                
                
                
                
                
              </div>
              
            </div>
            
            <div class="col-md-3">
              <div class="panel panel-default sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Ask About (add dog_name here)</h3>
                </div>

                <div class="panel-body text-widget">
                  <p>Contact advertiser here to ask about the dogs you're interested in.</p>
                </div>
                <div class="panel-body">
                  <ul class="nav nav-pills flex-column text-sm">
                    <li class="nav-item"><a href="" class="nav-link active">Contact Advertiser</a></li>

                  </ul>
                </div>
                
              </div>
              
             
              <div class="panel sidebar-menu">
                <div class="panel-heading">
                  <h3 class="h4 panel-title">Tags</h3>
                </div>
                <div class="panel-body">
                  <ul class="tag-cloud list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> NJ</a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> Dog</a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-tags"></i> Waiting for Adoption</a></li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- FOOTER -->
      <footer class="main-footer">
        
        <div class="copyrights">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 text-center-md">
                <p>&copy; 2020. BHOW-BHOW</p>
              </div>
              <div class="col-lg-8 text-right text-center-md">
                <p> <a href="https://www.stevens.edu/academics/" target="_blank" title="stevens">Stevens Institute Of Technology</a></p>

              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Javascript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="vendor/waypoints/lib/jquery.waypoints.min.js"> </script>
    <script src="vendor/jquery.counterup/jquery.counterup.min.js"> </script>
    <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="vendor/jquery.scrollto/jquery.scrollTo.min.js"></script>
    <script src="js/front.js"></script>
    
    <!-- Map -->
    <!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script> -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzdFxhjfWPleF6g-SAUmDVu2lahCHANX0&callback=initMap">
  </script>
  <script>
    function initMap(){
      // Map options
      let latitude;
      let longitude;
      var geocoder = new google.maps.Geocoder();
      
      var address = "1 Castle Point Terrace,Hoboken,NJ";

      let options = {
        zoom: 12,                     //control the size of map
        center:{lat:undefined,lng:undefined}
        // mapTypeId: google.maps.MapTypeId.ROADMAP
}
geocoder.geocode({ 'address': address }, function (results, status) {

    if (status == google.maps.GeocoderStatus.OK) {
        latitude = results[0].geometry.location.lat();
        longitude = results[0].geometry.location.lng();
        options.center = {
            lat: latitude,
            lng: longitude
        };
    }
    var myLatLng = new google.maps.LatLng(latitude, longitude);
      // console.log(myLatLng);
      var map = new google.maps.Map(document.getElementById('map'), options);
      var markers = {
        
        position:myLatLng
        // title: "Hello World!"
      };

      addMarker(markers);

    function addMarker(props){
      var marker = new google.maps.Marker({
        position:props.position,
        map:map
      });
    }
  
});

    }

      
      
  </script>
